
# Dependencies (installed via "go get")
/pkg
/src

# The BrowserAudit web server binary
/browseraudit

# Production configuration file for the BrowserAudit web server
/server.yaml

# Local directory
/tmp