@font-face {
  font-family: 'BrowserAuditTestFont';
  src: url('https://browseraudit.com/csp/pass/132/eot?sessid={{.SessionID}}');
  src: url('https://browseraudit.com/csp/pass/132/eot?sessid={{.SessionID}}#iefix') format('embedded-opentype'),
       url('https://browseraudit.com/csp/pass/132/woff?sessid={{.SessionID}}') format('woff'),
       url('https://browseraudit.com/csp/pass/132/ttf?sessid={{.SessionID}}') format('truetype'),
       url('https://browseraudit.com/csp/pass/132/svg?sessid={{.SessionID}}#BrowserAuditTestFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

span {
  speak: none;
  font-family: 'BrowserAuditTestFont', monospace, sans-serif, serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
